body{
	background-color: rgb(25,25,25);
}
h1{
	color: white;
	font-family: "Comic Sans MS", "Comic Sans", sans serif;
}
#p1{
	color: white;
	font-family: "Comic Sans MS", "Comic Sans", sans serif;
	font-size: 24;
}
#banner_top{
	height: 7.5vw;
	align: left;
	top: 0px;
}
#pages-menu{
	display:inline-block; 
	text-decoration:none;
	padding-left:15vw;
	padding-right:5vw;
	position: static
}
#link-hidden1{
	color: white;
	font-family: "Comic Sans MS", "Comic Sans", sans serif;
	font-size: 24;
	text-decoration:none;

	position: fixed;
    top: 50%;
    left: 50%;
}