body{
	background-color: rgb(25,25,25);
}
h1{
	color: white;
	font-family: "Comic Sans MS", "Comic Sans", sans serif;
}
#p1{
	color: white;
	font-family: "Comic Sans MS", "Comic Sans", sans serif;
	font-size: 1.5vw;
}
#banner_top{
	height: 7.5vw;
	align: left;
	top: 0px;
}
#pages-menu{
	display:inline-block; 
	text-decoration:none;
	font-size: 1vw;

	padding-left:15vw;
	padding-right:5vw;
	position: static;
}
#footer{
	position: absolute;
}
#banner-bottom{
	width: 99.5%;
	align: left;
	bottom: 0px;
}
#link-hidden1{
	color: white;
	font-family: "Comic Sans MS", "Comic Sans", sans serif;
	font-size: 12px;
	text-decoration:none;
}
#before-and-after{
	height: 50%;
	align: left;
}
